<!--
happyRecipes/views/categories.html
Cesar Escalona and Phillip Ball
05/07/2021
This is the categories page for our 328 project
-->

<include href="views/header.html" />

<!-- Main -->
<main role="main">

    <!-- Container -->
    <div class="container bg-light pt-4 pb-5">

        <!-- Category Buttons -->
        <div class="row text-center">

            <!-- Button -->
            <div class="col-4">
                <a href="breakfast" class="text-decoration-none">
                    <img src="images/breakfastLink.jpg" alt="Breakfast Food" class="w-100 h-100 rounded-circle">
                    <p><strong>Breakfast</strong></p>
                </a>
            </div> <!-- Button END -->

            <!-- Button -->
            <div class="col-4">
                <a href="lunch" class="text-decoration-none">
                    <img src="images/lunchLink.jpg" alt="Lunch Food" class="w-100 h-100 rounded-circle">
                    <p><strong>Lunch</strong></p>
                </a>
            </div> <!-- Button END -->

            <!-- Button -->
            <div class="col-4">
                <a href="dinner" class="text-decoration-none">
                    <img src="images/dinnerLink.jpg" alt="Dinner Food" class="w-100 h-100 rounded-circle">
                    <p><strong>Dinner</strong></p>
                </a>
            </div> <!-- Button END -->
        </div> <!-- Category Buttons END -->
    </div> <!-- Container END -->
</main> <!-- Main END -->

<include href="views/footer.html" />