<!--
happyRecipes/views/form.html
Cesar Escalona and Phillip Ball
05/07/2021
This is the form page for our 328 project
-->

<include href="views/header.html" />

<!-- Main -->
<main role="main">

    <div class="container bg-light pt-4">
        <div class="container bg-white text-left border border-light">
            <div class="row">
                <div class="col-md-5">
                    <br>
                    <h2 class="display-6"><strong>Summary</strong></h2><br>

                    <!-- Start of Table -->
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>Name: <strong>{{ @SESSION.fname }} {{ @SESSION.lname }} </strong></td>
                        </tr>
                        <tr>
                            <td>Email: <strong>{{ @SESSION.email }} </strong> </td>
                        </tr>
                        <tr>
                            <td>Address: <strong>{{ @SESSION.address }}</strong><br>
                                <strong>{{ @SESSION.city }}</strong>, <strong>{{ @SESSION.state }}</strong>
                                <strong>{{ @SESSION.zip }}</strong><br>
                                <strong>{{ @SESSION.country }}</strong></td>
                        </tr>
                        <tr>
                            <td>Phone: <strong>{{ @SESSION.phoneNum }}</strong></td>
                        </tr>
                        <tr>
                            <td>Favorite Category: <strong>{{ @SESSION.fCat }}</strong></td>
                        </tr>
                        <tr>
                            <td>Diet Preference: <strong>{{ @SESSION.pref }}</strong></td>
                        </tr>
                        </tbody>
                    </table> <!-- End of Table -->

                </div> <!-- End of 5 col -->
                <div class="col-md-7 text-center"><br>
                    <!-- Make sure to add style edits to the Stylesheet! -->
                    <img src="images/homelogo.png" alt="Thank you image"
                         class="rounded img-fluid min-width">
                    <br>
            </div>
                <div class="row">
                <div class="col text-center">
                    <a href="{{@BASE}}" class="btn btn-outline-dark">Submit</a>
                </div><br> <br>
            </div> <!-- End of button -->
            </div>
        </div><br>
    </div>
</main> <!-- Main END -->

<include href="views/footer.html" />