<!--
happyRecipes/views/form.html
Cesar Escalona and Phillip Ball
05/07/2021
This is the form page for our 328 project
-->

<include href="views/header.html" />

<!-- Main -->
<main role="main">

    <!-- Entry to the site -->
    <!-- Form -->
    <div class="container bg-light pt-4">
        <form method="post" class="form" action="#">
            <div class="container bg-light main-form border rounded align-middle">
                <div class="container bg-light form-pg0"><br>
                    <h1 class="text-center">Sign Up To Receive Our Top Weekly Recipes</h1>
                    <hr>
                    <br>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label><strong>First Name</strong></label>
                            <input type="text" class="form-control" id="fname" name="fname"
                            value="{{ @userFName }}">
                            <check if="{{ isset(@errors['fName']) }}">
                                <!-- add styles -->
                                <span class="err">{{ @errors['fName'] }}</span>
                            </check>
                           <!-- Use this for Validation js <span class="err" id="err-fname">Please enter a first name</span> -->
                        </div> <!-- End of First Name  -->

                        <div class="form-group col-md-6">
                            <label><strong>Last Name</strong></label>
                            <input type="text" class="form-control" id="lname" name="lname"
                                   value="{{ @userLName }}">
                            <check if="{{ isset(@errors['lName']) }}">
                                <!-- add styles -->
                                <span class="err">{{ @errors['lName'] }}</span>
                            </check>
                            <br>
                        </div> <!-- End of Last Name  -->

                        <div class="form-group col-md-12">
                            <label for="email"><strong>Email</strong></label>
                            <input type="email" class="form-control" id="email"
                                   placeholder="someone@domain.com" name="email"
                                   value="{{ @Email }}">
                            <check if="{{ isset(@errors['Email']) }}">
                                <!-- add styles -->
                                <span class="err">{{ @errors['Email'] }}</span>
                            </check>
                            <br>
                        </div> <!-- End of Email  -->

                        <div class="form-group">
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="switch">
                                    <input class="form-check-input" type="checkbox" name="switch" id="switch"
                                    <check if="{{ @Switch }}">checked="checked"</check>>

                                    <strong>Send Me Top Weekly Recipes by Mail</strong></label>
                            </div><br>
                        </div> <!-- End of Form Switch  -->

                        <div class="form-group col-md-12">
                            <label for="address"><strong>Address</strong></label>
                            <input type="text" class="form-control" id="address" name="address"
                            value="{{ @userAddress }}">
                            <check if="{{ isset(@errors['Address']) }}">
                                <!-- add styles -->
                                <span class="err">{{ @errors['Address'] }}</span>
                            </check>
                            <br>
                        </div> <!-- End of Address  -->

                        <div class="form-group-row col-md-4">
                            <label for="city"><strong>City</strong></label>
                            <input type="text" class="form-control" id="city" name="city">
                        </div> <!-- End of City  -->

                        <div class="form-group col-md-4">
                            <label for="state"><strong>State</strong></label>
                            <input type="text" class="form-control" id="state" name="state">
                        </div> <!-- End of State  -->

                        <div class="form-group col-md-4">
                            <label for="zip"><strong>Zip</strong></label>
                            <input type="text" class="form-control" id="zip" name="zip"><br>
                        </div> <!-- End of Zip  -->

                        <div class="form-group col-md-6">
                            <label for="country"><strong>Country</strong></label>
                            <input type="text" class="form-control" id="country" name="country">
                        </div> <!-- End of Country  -->

                        <div class="form-group col-md-6">
                            <label for="phoneNum"><strong>Phone Number</strong></label>
                            <input type="tel" class="form-control" id="phoneNum" name="phoneNum"
                                   pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{ @phoneNum }}">
                            <p class="text-muted">Phone number above must match this format: 123-456-7890</p>
                            <check if="{{ isset(@errors['PhoneNum']) }}">
                                <!-- add styles -->
                                <span class="err">{{ @errors['PhoneNum'] }}</span>
                            </check>
                        </div> <!-- End of Phone Number  -->

                        <div class="form-group col-md-6"><br>
                            <label for="fCat"><strong>Please select your favorite recipe category</strong></label>
                            <select id="fCat" class="form-control" name="fCat">
                                <option selected>Choose...</option>
                                <option>Breakfast</option>
                                <option>Lunch</option>
                                <option>Dinner</option>
                            </select>
                        </div> <!-- End of Recipe Category  -->

                        <div class="form-group col-md-6"><br>
                            <label for="pref"><strong>Choose your diet preference</strong></label>
                            <select id="pref" class="form-control" name="pref">
                                <option selected>Choose...</option>
                                <option>Variety</option>
                                <option>Vegetarian</option>
                                <option>Pescatarian</option>
                                <option>Veagan</option>
                                <option>Carnivore</option>
                            </select><br><br>
                        </div> <!-- End of Diet Preference  -->

                        <div class="text-center">
                            <input class="btn btn-primary"
                                   type="submit" value="Submit">
                            <br>
                        </div> <!-- End of button -->

                    </div> <!-- Closing Div class Row, Line 50 -->
                    <br>
                </div> <!-- Closing Div class Container, Line 45 -->
            </div>
            <br>
        </form>  <!-- End of Form  -->
    </div>
</main> <!-- Main END -->

<include href="views/footer.html" />