<!--
happyRecipes/views/home.html
Cesar Escalona and Phillip Ball
04/30/2021
This is the home page for our 328 project Happy Recipes
-->

<include href="views/header.html" />

<!-- Main -->
<main role="main">

    <!-- Entry to the site -->
    <div class="container px-0">
        <section class="jumbotron text-center pt-2 pb-4 ">
            <h1 class="jumbotron-heading display-3" id="colored">Welcome to Happy Recipes</h1>
            <p class="lead text-muted w-50 mx-auto" id="tagline">
                We're here to share all kinds of amazing recipes with the world!

                Whether it be breakfast or dinner, you'll be able to find and even favorite
                the perfect recipe for any occasion.

                If you're not wanting to find the perfect recipe yourself,
                we also provide a weekly subscription where we find the perfect recipe for you!
            </p>
            <p>
                <a href="categories" class="btn my-2"><strong>Categories Of Recipes</strong></a>
                <a href="form" class="btn my-2"><strong>Receive Weekly Recipes</strong></a>
            </p>
            <img class="img-fluid" src="images/homelogo.png" alt="logo" width="500" height="500">

            <!-- Random Food Button -->
            <div class="text-center mx-auto">
                <p class="lead">Can't decide what to make?<br>Here's a button to provide some inspiration!<br></p>
                <button type="button" class="btn" id="randomRecipeBtn"
                        data-toggle="modal" data-target="#randomRecipe">Find a random food!</button>
            </div> <!-- Random Food Button END -->

            <!-- Random Food Modal -->
            <div class="modal fade" id="randomRecipe" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="foodName"></h5>
                            <button type="button" class="close rounded-circle" data-dismiss="modal">
                                <span>X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h6>Nutrients:</h6>
                            <div id="foodNutrients"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> <!-- Random Food Modal END -->

        </section>
    </div> <!-- Entry to the site END -->

    <!-- Recipe Cards -->
    <div class="container bg-light pt-4">

        <!-- Card Group -->
        <div class="card-group">

            <!-- Card 1 -->
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top" src="{{@recipes[0]->getRecipeImage()}}" alt="{{@recipes[0]->getName()}}">
                <div class="card-body">
                    <h5 class="card-title">{{@recipes[0]->getName()}}</h5>
                    <p class="card-text">
                        Takes {{@recipes[0]->getCookTime()}} minutes to make!<br>
                        Feeds {{@recipes[0]->getFeeds()}} mouths!<br>
                        Check it out!
                    </p>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#sloppyJoe">See the Recipe!</button>

                    <!-- Favorite button -->
                    <check if="{{ !empty(@SESSION.user) && !(@SESSION.user instanceof Admin) }}">
                        <form method="post" action="#" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-outline-warning"
                                    name="favBtn" value="0">{{@favorite1}}</button>
                        </form>
                    </check>
                </div>
            </div> <!-- Card 1 END -->
            <!-- Card 1 Modal -->
            <div class="modal fade" id="sloppyJoe" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{@recipes[0]->getName()}}</h5>
                            <button type="button" class="close rounded-circle" data-dismiss="modal">
                                <span>X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="rounded w-100 h-100 mb-2" src="{{@recipes[0]->getRecipeImage()}}"
                                 alt="{{@recipes[0]->getName()}}">
                            <h6>Description:</h6>
                            <p>{{@recipes[0]->getDescription()}}</p>
                            <hr>
                            <h6>Ingredients:</h6>
                            <ul>
                                <li>12oz of {{@recipes[0]->getIngredients()[0]}}</li>
                                <li>1 {{@recipes[0]->getIngredients()[1]}}</li>
                                <li>1 {{@recipes[0]->getIngredients()[2]}}</li>
                                <li>1 Clove of {{@recipes[0]->getIngredients()[3]}}</li>
                                <li>2TBSP of {{@recipes[0]->getIngredients()[4]}}</li>
                                <li>2tsp of {{@recipes[0]->getIngredients()[5]}}</li>
                                <li>6ml {{@recipes[0]->getIngredients()[6]}}</li>
                                <li>6ml {{@recipes[0]->getIngredients()[7]}}</li>
                                <li>1TBSP {{@recipes[0]->getIngredients()[8]}}</li>
                                <li>10oz {{@recipes[0]->getIngredients()[9]}}</li>
                                <li>1/2 cup {{@recipes[0]->getIngredients()[10]}}</li>
                                <li>2 {{@recipes[0]->getIngredients()[11]}}</li>
                            </ul>
                            <hr>
                            <h6>Steps:</h6>
                            <ol>
                                <li>Wash potatoes and cut into 1/2 inch wedges</li>
                                <li>Toss potatoes on a baking sheet with salt and pepper
                                    and a drizzle of olive oil</li>
                                <li>Roast on top rack for 20-25 mins</li>
                                <li>Thinly slice the green pepper, half the onion and peel and mince garlic</li>
                                <li>Combine ketchup, mustard, stock, ponzu, cornstarch and 1/3 cup of water in a small
                                bowl</li>
                                <li>Cook veggies over medium to high heat for 4-6 minutes</li>
                                <li>Cook beef in medium to high heat for 4-6 minutes and add in garlic and sauce</li>
                                <li>Drizzle mozzarella over the beef until it melts, toast the buns</li>
                                <li>Place beef and veggies inside the buns and place on a plate with
                                    potato wedges and enjoy!</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <p>(Submitted by: {{@recipes[0]->getSubmittedBy()}})</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> <!-- Card 1 Modal END -->


            <!-- Card 2 -->
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top" src="{{@recipes[1]->getRecipeImage()}}" alt="{{@recipes[1]->getName()}}">
                <div class="card-body">
                    <h5 class="card-title">{{@recipes[1]->getName()}}</h5>
                    <p class="card-text">
                        Takes {{@recipes[1]->getCookTime()}} minutes to make!<br>
                        Feeds {{@recipes[1]->getFeeds()}} mouths!<br>
                        Check it out!
                    </p>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#tmpDish">See the Recipe!</button>

                    <!-- Favorite button -->
                    <check if="{{ !empty(@SESSION.user) && !(@SESSION.user instanceof Admin) }}">
                        <form method="post" action="#" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-outline-warning"
                                    name="favBtn" value="1">{{@favorite2}}</button>
                        </form>
                    </check>
                </div>
            </div> <!-- Card 2 END -->
            <!-- Card 2 Modal -->
            <div class="modal fade" id="tmpDish" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{@recipes[1]->getName()}}</h5>
                            <button type="button" class="close rounded-circle" data-dismiss="modal">
                                <span>X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="rounded w-100 h-100 mb-2" src="{{@recipes[1]->getRecipeImage()}}"
                                 alt="{{@recipes[1]->getName()}}">
                            <h6>Description:</h6>
                            <p>{{@recipes[1]->getDescription()}}</p>
                            <hr>
                            <h6>Ingredients:</h6>
                            <ul>
                                <li>1 {{@recipes[1]->getIngredients()[0]}}</li>
                                <li>8oz {{@recipes[1]->getIngredients()[1]}}</li>
                                <li>6oz of {{@recipes[1]->getIngredients()[2]}}</li>
                                <li>1 Clove of {{@recipes[1]->getIngredients()[3]}}</li>
                                <li>4oz of {{@recipes[1]->getIngredients()[4]}}</li>
                                <li>1TBSP of {{@recipes[1]->getIngredients()[5]}}</li>
                                <li>1/4 cup of {{@recipes[1]->getIngredients()[6]}}</li>
                                <li>1tsp of {{@recipes[1]->getIngredients()[7]}}</li>
                                <li>3oz of {{@recipes[1]->getIngredients()[8]}}</li>
                            </ul>
                            <hr>
                            <h6>Steps:</h6>
                            <ol>
                                <li>Boil a large pot of salted water, peel and mince shallot and garlic</li>
                                <li>Brown the meatballs in a pan with a drizzle of olive oil for 3-5 mins</li>
                                <li>Cook pasta in large pot for 9-12 mins</li>
                                <li>Combine shallot, garlic, italian seasoning,
                                    chili flakes and tomato paste with 2TBSP
                                of butter in a pan over medium heat</li>
                                <li>Add cream sauce and parmesan to the pan for 2-3 mins and season
                                    with salt and pepper</li>
                                <li>Stir in meatballs and penne into pan with sauce</li>
                                <li>Top with a pinch of parmesan cheese and serve!</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <p>(Submitted by: {{@recipes[1]->getSubmittedBy()}})</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> <!-- Card 2 Modal END -->


            <!-- Card 3 -->
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top" src="{{@recipes[2]->getRecipeImage()}}" alt="{{@recipes[2]->getName()}}">
                <div class="card-body">
                    <h5 class="card-title">{{@recipes[2]->getName()}}</h5>
                    <p class="card-text">
                        Takes {{@recipes[2]->getCookTime()}} minutes to make!<br>
                        Feeds {{@recipes[2]->getFeeds()}} mouths!<br>
                        Check it out!
                    </p>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#Tostadas">See the Recipe!</button>

                    <!-- Favorite button -->
                    <check if="{{ !empty(@SESSION.user) && !(@SESSION.user instanceof Admin) }}">
                        <form method="post" action="#" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-outline-warning"
                                    name="favBtn" value="2">{{@favorite3}}</button>
                        </form>
                    </check>
                </div>
            </div> <!-- Card 3 END -->
            <!-- Card 3 Modal -->
            <div class="modal fade" id="Tostadas" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{@recipes[2]->getName()}}</h5>
                            <button type="button" class="close rounded-circle" data-dismiss="modal">
                                <span>X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="rounded w-100 h-100 mb-2" src="{{@recipes[2]->getRecipeImage()}}"
                                 alt="{{@recipes[2]->getName()}}">
                            <h6>Description:</h6>
                            <p>{{@recipes[2]->getDescription()}}</p>
                            <hr>
                            <h6>Ingredients:</h6>
                            <ul>
                                <li>1 {{@recipes[2]->getIngredients()[0]}}</li>
                                <li>1/4oz of {{@recipes[2]->getIngredients()[1]}}</li>
                                <li>1 {{@recipes[2]->getIngredients()[2]}}</li>
                                <li>1 {{@recipes[2]->getIngredients()[3]}}</li>
                                <li>1 {{@recipes[2]->getIngredients()[4]}}</li>
                                <li>4TBSP of {{@recipes[2]->getIngredients()[5]}}</li>
                                <li>6ml {{@recipes[2]->getIngredients()[6]}}</li>
                                <li>1tsp of {{@recipes[2]->getIngredients()[7]}}</li>
                                <li>1TBSP of {{@recipes[2]->getIngredients()[8]}}</li>
                                <li>10oz {{@recipes[2]->getIngredients()[9]}}</li>
                                <li>1tsp of {{@recipes[2]->getIngredients()[10]}}</li>
                                <li>6 {{@recipes[2]->getIngredients()[11]}}</li>
                                <li>1/2cup of {{@recipes[2]->getIngredients()[12]}}</li>
                            </ul>
                            <hr>
                            <h6>Steps:</h6>
                            <ol>
                                <li>Chop tomato, cilantro, onion, lime, and green pepper</li>
                                <li>Combine tomato, cilantro, sour cream, onion, juice from the lime,
                                    salt, pepper and hot sauce into
                                a small bowl</li>
                                <li>Cook beef in a pan for 4-5 mins with southwest spice chili powder
                                    and a pinch of salt</li>
                                <li>Once the beef is browned, add in stock concentrate, green pepper,
                                    sliced onion, and a pinch of salt</li>
                                <li>Bake tortillas with some olive oil on a baking sheet for 4-5 mins</li>
                                <li>Load tortillas with beef, Mexican cheese, salsa crema and remaining lime
                                    juice and enjoy!</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <p>(Submitted by: {{@recipes[2]->getSubmittedBy()}})</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> <!-- Card 3 Modal END -->

        </div><br> <!-- Cards Group END -->
    </div> <!-- Container END -->
</main> <!-- Main END -->

<script src="//code.jquery.com/jquery.js"></script>
<script src="scripts/randomRecipe.js"></script>

<include href="views/footer.html" />