<!--
happyRecipes/views/login.html
Cesar Escalona and Phillip Ball
06/01/2021
This is the login page for our 328 project
-->

<include href="views/header.html" />

<!-- Main -->
<main role="main">
    <!-- Container -->
    <div class="container bg-light pt-4">
        <!-- Login Form -->
        <form action="#" method="post" id="login">
            <!-- Inner Container 1 for style -->
            <div class="container bg-light main-form border rounded align-middle">
                <!-- Inner Container 2 for style -->
                <div class="container bg-light form-pg0"><br>

                    <!-- Page Description -->
                    <h1 class="text-center">Sign in to See Your Favorite Recipes!</h1>
                    <hr><br>

                    <!-- Row -->
                    <div class="row">
                        <!-- Username -->
                        <div class="form-group col-md-6">
                            <label class="w-75" for="username"><strong>Username</strong></label>
                                <input type="text" class="form-control"
                                       id="username" name="username" value="{{ @username }}">
                            <!-- JavaScript Validation -->
                            <span class="err" id="err-username">Usernames must be 3 or more
                                characters and not already in use</span>
                            <!-- PHP Validation -->
                            <check if="{{ isset(@errors['username']) }}">
                                <span class="text-danger">{{ @errors['username'] }}</span>
                            </check>
                        </div> <!-- Username END -->

                        <!-- Password -->
                        <div class="form-group col-md-6">
                            <label class="w-75" for="password"><strong>Password</strong></label>
                                <input type="password" class="form-control"
                                       id="password" name="password" value="{{ @password }}">
                            <!-- JavaScript Validation -->
                            <span class="err" id="err-password">Passwords must be at least 8 characters long</span>
                            <!-- PHP Validation -->
                            <check if="{{ isset(@errors['password']) }}">
                                <span class="text-danger">{{ @errors['password'] }}</span>
                            </check>
                            <!-- Show/Hide Password -->
                            <label class="d-block">
                                <input type="checkbox" id="passwordCheckbox" class="mx-1">Show Password</label>
                        </div> <!-- Password END -->
                    </div> <!-- Row END -->
                    <br>

                    <!-- Submit Button -->
                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" value="Submit">
                        <br>
                    </div> <!-- Submit Button END -->

                </div> <!-- Inner Container 1 END -->
                <br>
            </div> <!-- Inner Container 2 END -->
            <br>
        </form> <!-- Login Form END -->
    </div> <!-- Container END -->
</main> <!-- Main END -->

<script src="scripts/showPasswordBox.js"></script>
<!-- Scripts from form go here...--->
<script src="scripts/loginScript.js"></script>

<include href="views/footer.html" />