<!--
happyRecipes/views/breakfast.html
Cesar Escalona and Phillip Ball
05/10/2021
This is the page for the lunch category in our 328 project
-->

<include href="views/header.html" />

<!-- Main -->
<main role="main">

    <!-- Container -->
    <div class="container bg-light pt-4 pb-3">

        <!-- Card Group -->
        <div class="card-group">

            <!-- Card 1 -->
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top w-100 h-100 img-fluid" src="images/lunch1.jpg" alt="caesar salad with grilled chicken">
                <div class="card-body">
                    <h5 class="card-title">caesar salad with grilled chicken</h5>
                    <p class="card-text">
                        Takes # Minutes to make!<br>
                        Feeds # mouth!<br>
                        Check it out!
                    </p>
                    <button type="button" class="btn" data-toggle="modal"
                            data-target="#lunchRecipe1">See the Recipe!</button>
                </div>
            </div> <!-- Card 1 END -->

            <!-- Card 1 Modal -->
            <div class="modal fade" id="lunchRecipe1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Recipe Name</h5>
                            <button type="button" class="close rounded-circle" data-dismiss="modal">
                                <span>X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="rounded w-100 h-100 mb-2" src="images/lunch1.jpg"
                                 alt="caesar salad with grilled chicken">
                            <h6>Description:</h6>
                            <p>Recipe Description</p>
                            <hr>
                            <h6>Ingredients:</h6>
                            <ul>
                                <li>List Item</li>
                            </ul>
                            <hr>
                            <h6>Steps:</h6>
                            <ol>
                                <li>List Item</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> <!-- Card 1 Modal END -->

            <!-- Card 2 -->
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top w-100 h-100 img-fluid" src="images/lunch2.jpg" alt="onigiri">
                <div class="card-body">
                    <h5 class="card-title">Onigiri</h5>
                    <p class="card-text">
                        Takes # Minutes to make!<br>
                        Feeds # mouth!<br>
                        Check it out!
                    </p>
                    <button type="button" class="btn" data-toggle="modal"
                            data-target="#lunchRecipe2">See the Recipe!</button>
                </div>
            </div> <!-- Card 2 END -->

            <!-- Card 2 Modal -->
            <div class="modal fade" id="lunchRecipe2" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Recipe Name</h5>
                            <button type="button" class="close rounded-circle" data-dismiss="modal">
                                <span>X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="rounded w-100 h-100 mb-2" src="images/lunch2.jpg" alt="onigiri">
                            <h6>Description:</h6>
                            <p>Recipe Description</p>
                            <hr>
                            <h6>Ingredients:</h6>
                            <ul>
                                <li>List Item</li>
                            </ul>
                            <hr>
                            <h6>Steps:</h6>
                            <ol>
                                <li>List Item</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> <!-- Card 2 Modal END -->

            <!-- Card 3 -->
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top w-100 h-100 img-fluid" src="images/lunch3.jpg" alt="Ham and Cheese Sandwich">
                <div class="card-body">
                    <h5 class="card-title">Ham and Cheese Sandwich</h5>
                    <p class="card-text">
                        Takes # Minutes to make!<br>
                        Feeds # mouth!<br>
                        Check it out!
                    </p>
                    <button type="button" class="btn" data-toggle="modal"
                            data-target="#breakfastRecipe3">See the Recipe!</button>
                </div>
            </div> <!-- Card 3 END -->

            <!-- Card 3 Modal -->
            <div class="modal fade" id="breakfastRecipe3" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Recipe Name</h5>
                            <button type="button" class="close rounded-circle" data-dismiss="modal">
                                <span>X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="rounded w-100 h-100 mb-2" src="images/lunch3.jpg"
                                 alt="Ham and Cheese Sandwich">
                            <h6>Description:</h6>
                            <p>Recipe Description</p>
                            <hr>
                            <h6>Ingredients:</h6>
                            <ul>
                                <li>List Item</li>
                            </ul>
                            <hr>
                            <h6>Steps:</h6>
                            <ol>
                                <li>List Item</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> <!-- Card 3 Modal END -->
        </div> <!-- Card Group END -->

        <!-- Back to Categories button -->
        <div class="d-flex justify-content-end mt-2">
            <a href="categories" class="text-decoration-none colored">Back to Categories</a>
        </div>
    </div> <!-- Container END -->
</main> <!-- Main END -->

<include href="views/footer.html" />