<!--
happyRecipes/views/profile.html
Cesar Escalona and Phillip Ball
06/03/2021
This is the profile page for our 328 project
-->

<include href="views/header.html" />

<link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

<!-- Main -->
<main role="main">
    <!-- Container -->
    <div class="container px-0">
        <!-- Jumbotron -->
        <div class="jumbotron pt-2 px-3">

            <!-- Title and Link Home -->
            <div class="d-flex justify-content-between">
                <h1>Profile Page</h1>
                <a href="{{@BASE}}" class="text-decoration-none align-self-end">Home</a>
            </div> <!-- Title and Link Home END -->
            <hr>

            <!-- Display is changed depending on whether the user is an admin or not -->
            <check if="{{ @SESSION.user instanceof Admin }}">
                <!-- if the user is an admin -->
                <true>
                    <p>Welcome back Admin {{ @SESSION.user->getFName() }}!</p>

                    <table id="admTbl">
                        <thead>
                            <tr>
                                <td>userId</td>
                                <td>isAdmin</td>
                                <td>firstName</td>
                                <td>lastName</td>
                                <td>user_name</td>
                                <td>pass_word</td>
                                <td>email</td>
                                <td>favorites_code</td>
                            </tr>
                        </thead>
                        <tbody>
                            <repeat group="{{@users}}" value="{{@user}}">
                                <tr>
                                    <td>{{@user["userId"]}}</td>
                                    <td>{{@user["isAdmin"]}}</td>
                                    <td>{{@user["firstName"]}}</td>
                                    <td>{{@user["lastName"]}}</td>
                                    <td>{{@user["user_name"]}}</td>
                                    <td>{{@user["pass_word"]}}</td>
                                    <td>{{@user["email"]}}</td>
                                    <td>{{@user["favorites_code"]}}</td>
                                </tr>
                            </repeat>
                        </tbody>
                    </table>
                </true>

                <!-- if the user is not an admin -->
                <false>
                    <div class="text-center mb-3">
                        <h4>Welcome back {{ @SESSION.user->getFName() }}!</h4>
                        <p>Here are your favorite recipes!</p>
                    </div>

                    <div class="text-center">
                        <repeat group="{{@recipes}}" value="{{@recipe}}">
                            <!-- Card -->
                            <div class="card text-center w-25 mx-1 my-2 d-inline-flex">
                                <img class="card-img-top w-100 h-100" src="{{@recipe->getRecipeImage()}}"
                                     alt="{{@recipe->getName()}}">
                                <div class="card-body">
                                    <h5 class="card-title">{{@recipe->getName()}}</h5>
                                    <p class="card-text">
                                        Takes {{@recipe->getCookTime()}} minutes to make!<br>
                                        Feeds {{@recipe->getFeeds()}} mouth(s)!<br>
                                        Check it out!
                                    </p>
                                    <a href="{{@recipe->getCategory()}}"
                                       class="btn btn-primary d-inline">See the Recipe!</a>

                                    <!--<form method="post" action="#" class="d-inline">-->
                                        <button type="submit"
                                                class="btn btn-sm btn-outline-danger">Unfavorite</button>
                                    <!--</form>-->
                                </div>
                            </div> <!-- Card END -->
                        </repeat>
                    </div>
                </false>
            </check> <!-- Admin Check END -->

        </div> <!-- Jumbotron END -->
    </div> <!-- Container END -->
</main> <!-- Main END -->

<script src="//code.jquery.com/jquery.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script> $('#admTbl').DataTable(); </script>

<include href="views/footer.html" />