<!--
happyRecipes/views/signup.html
Cesar Escalona and Phillip Ball
06/01/2021
This is the sign up page for our 328 project
-->

<include href="views/header.html" />

<!-- Main -->
<main role="main">
    <!-- Container -->
    <div class="container bg-light pt-4">
        <!-- Sign Up Form -->
        <form action="#" method="post">
            <!-- Inner Container 1 for style -->
            <div class="container bg-light main-form border rounded align-middle">
                <!-- Inner Container 2 for style -->
                <div class="container bg-light form-pg0"><br>

                    <!-- Page Description -->
                    <h1 class="text-center">Sign Up to Keep Track of Your Favorite Recipes!</h1>
                    <hr><br>

                    <!-- Top Row -->
                    <div class="row">
                        <!-- Username -->
                        <div class="form-group col-md-6">
                            <label class="w-75"><strong>Username</strong>
                                <input type="text" class="form-control"
                                       id="username" name="username" value="{{ @username }}"></label>
                            <!-- JavaScript Validation -->
                            <span class="err" id="err-username">Usernames must be 3 or more characters and not already in use</span>
                            <!-- PHP Validation -->
                            <check if="{{ isset(@errors['username']) }}">
                                <span class="text-danger">{{ @errors['username'] }}</span>
                            </check>
                        </div> <!-- Username END -->

                        <!-- Password -->
                        <div class="form-group col-md-6">
                            <label class="w-75"><strong>Password</strong>
                                <input type="password" class="form-control"
                                       id="password" name="password" value="{{ @password }}"></label>
                            <!-- JavaScript Validation -->
                            <span class="err" id="err-password">Passwords must be at least 8 characters long</span>
                            <!-- PHP Validation -->
                            <check if="{{ isset(@errors['password']) }}">
                                <span class="text-danger">{{ @errors['password'] }}</span>
                            </check>
                            <!-- Show/Hide Password -->
                            <label class="d-block">
                                <input type="checkbox" id="passwordCheckbox" class="mx-1">Show Password</label>
                        </div> <!-- Password END -->
                    </div> <!-- Top Row END-->
                    <br>

                    <!-- Middle Row -->
                    <div class="row">
                        <!-- First Name -->
                        <div class="form-group col-md-6">
                            <label class="w-75"><strong>First Name</strong>
                            <input type="text" class="form-control"
                                   id="fname" name="fname" value="{{ @fName }}"></label>
                            <!-- JavaScript Validation -->
                            <span class="err" id="err-fname">Please enter your first name</span>
                            <!-- PHP Validation -->
                            <check if="{{ isset(@errors['fName']) }}">
                                <span class="text-danger">{{ @errors['fName'] }}</span>
                            </check>
                        </div> <!-- First Name END -->

                        <!-- Last Name -->
                        <div class="form-group col-md-6">
                            <label class="w-75"><strong>Last Name</strong>
                                <input type="text" class="form-control"
                                       id="lname" name="lname" value="{{ @lName }}"></label>
                            <!-- JavaScript Validation -->
                            <span class="err" id="err-lname">Please enter your last name</span>
                            <!-- PHP Validation -->
                            <check if="{{ isset(@errors['lName']) }}">
                                <span class="text-danger">{{ @errors['lName'] }}</span>
                            </check>
                        </div> <!-- Last Name END -->
                    </div> <!-- Middle Row END -->
                    <br>

                    <!-- Bottom Row -->
                    <div class="row">
                        <!-- Email -->
                        <div class="form-group col-md-6">
                            <label class="w-75"><strong>Email</strong>
                                <input type="email" class="form-control" id="email"
                                       placeholder="someone@domain.com" name="email" value="{{ @email }}"></label>
                            <!-- JavaScript Validation -->
                            <span class="err" id="err-email">Please enter a valid email that contains "@" and "."</span>
                            <!-- PHP Validation -->
                            <check if="{{ isset(@errors['email']) }}">
                                <span class="text-danger">{{ @errors['email'] }}</span>
                            </check>
                        </div> <!-- Email END -->
                    </div> <!-- Bottom Row END -->
                    <br>

                    <!-- Submit Button -->
                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" value="Submit">
                        <br>
                    </div> <!-- Submit Button END -->

                </div> <!-- Inner Container 1 END -->
                <br>
            </div> <!-- Inner Container 2 END -->
            <br>
        </form> <!-- Sign Up Form END -->
    </div> <!-- Container END -->
</main> <!-- Main END -->

<script src="scripts/showPasswordBox.js"></script>

<include href="views/footer.html" />