/*
happyRecipes/styles/styles.css
Cesar Escalona and Phillip Ball
06/01/2021
This is style sheet for our 328 project
*/

/* our styles */

/* body and navbar same color */
body{
    background-color: #FF652D;
    font-family: Georgia, serif!important;
}
/* button colors */
.btn {
    background-color: #FFC738;
    border: none;
    color: white;
    text-align: center;
    border-radius: 4px;
    transition-duration: 0.2s;
}

/* hover colors */
.btn:hover {
    background-color: #FF652D;
    color: white;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.category{
    color: #FF652D;
    font-family: Impact, fantasy;
    font-size: 30px;
}

/* categories slideshow and description */
#categories, #slideshow, #description{
    border: 1px solid #00000038;
    border-radius: 5px;
}

/* various colors throughout the site */
#colored, .colored{
    color: #FF652D;
    font-family: Impact, fantasy;
}

/* container color */
.container{
    background-color: #FFC738;
}

/* Form Styles below */
.err {
    color: red;
    display: none;
}

.error {
    color: red;
    font-weight: bold;
}

/* footer padding */
footer {
    padding-top: 1rem;
}

/* footer background color */
footer p {
    margin-bottom: .25rem;
    background-color: #FF652D;
}

/* footer link color */
#footer{
    color: #FFC738;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.navbar{
    background-color: #FFC738!important;
}

/* aligns links in nav bar */
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-basis: auto;
        align-content: center;
        align-items: baseline;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

/* added bootstrap styles */
:root {
    --jumbotron-padding-y: 3rem;
}

#tagline{
    font-size: 20px;
}
